{% extends "index.html" %}
{% load humanize %}

{% block html_title %}
    House {{ house.name }}
{% endblock %}

{% block application %}
    <div class="house-detail">
        <h2 class="house-name">{{ house.name }} <span class="price">{{ house.price|intcomma }} $</span></h2>
        <div class="house">
            {% if house.image %}
                <img src="{{ house.image.url }}" alt="{{ house.name }}">
            {% endif %}

            <div class="description">{{ house.description }}</div>
        </div>

        <div class="order">
            <h2>Make appointment</h2>

            {% if sended %}
                Thank you! Your appointment is done.
            {% endif %}

            <form action="" method="post" class="order-form">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Make appointment">
            </form>
        </div>
    </div>
    <div style="clear: both"></div>
{% endblock %}